<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body><div align="center" style="max-width:640px; margin:0 auto; font-family:Helvetica Neue,Helvetica,Arial,sans-serif; background-color:white; padding:0; -webkit-text-size-adjust:none;">
	<table cellpadding="0" cellspacing="0" style="width:100%; border-spacing:0; border-collapse:collapse; border:1px solid #E6E6E6; background:#FAFAFA;">
		<tbody>
			<tr><td colspan="2">

{{$link := .Cross.Link .To .Config}}
<a href="{{$link}}" style="text-decoration:none; color:#333333; font-size:14px; line-height:20px; font-weight:400;">
	<table cellpadding="0" cellspacing="0" style="width:100%; border-spacing:0; border-collapse:collapse;">
		<tbody>
			{{if .IsTitleChanged}}
			<tr>
				<td width="30px"></td>
				<td style="color: #E52E53; font-size:10px; line-height:12px;"><span style="color:#E52E53;">Updated by {{.TitleChangedBy.Name | html}}</span></td>
			</tr>
			{{end}}			
			<tr>
				<td width="30px"><img src="{{.Config.SiteApi}}/v2/crosses/{{.Cross.ID}}/touch?user_id={{.To.UserID}}" /></td>
				<td style="padding: 10px 0 10px 0; font-size:18px; line-height:24px;">{{.Cross.Title | html}}</td>
			</tr>
			{{if .IsDescriptionChanged}}
			<tr>
				<td width="30px"></td>
				<td style="color: #E52E53; font-size:10px; line-height:12px;"><span style="color:#E52E53;">Updated by {{.DescriptionChangedBy.Name | html}}</span></td>
			</tr>
			<tr>
				<td width="30px"></td>
				{{if .Cross.Description}}
				<td style="padding:0;">{{.Cross.Description | limit 233 | html}}</td>
				{{else}}
				<td style="padding:0; color:#7F7F7F;">No description.</td>
				{{end}}
			</tr>
			<tr style="vertical-align:top">
				<td width="30px"></td>
				<td height="20px">&nbsp;</td>
			</tr>
			{{end}}
			{{if .IsTimeChanged}}{{$tz := .Timezone}}{{$timeTitle := .Cross.Time.Title $tz}}
			<tr>
				<td width="30px"></td>
				<td style="color: #E52E53; font-size:10px; line-height:12px;"><span style="color:#E52E53;">Updated by {{.TimeChangedBy.Name | html}}</span></td>
			</tr>
			{{if $timeTitle}}
			<tr>
				<td width="30px"></td>
				<td style="height:24px; color:#3A6EA5; font-size:18px; line-height:24px; font-weight:500;">{{$timeTitle | html}}</td>
			</tr>
			<tr>
				<td width="30px"></td>
				<td>{{.Cross.Time.Description $tz}}</td>
			</tr>
			{{else}}
			<tr>
				<td width="30px"></td>
				<td style="height:24px; color:#3A6EA5; font-size:18px; line-height:24px; font-weight:500;">Time</td>
			</tr>
			<tr>
				<td width="30px"></td>
				<td>To be decided</td>
			</tr>
			{{end}}
			<tr style="vertical-align:top">
				<td width="30px"></td>
				<td height="20px">&nbsp;</td>
			</tr>
			{{end}}
			{{if .IsPlaceChanged}}
			<tr>
				<td width="30px"></td>
				<td style="color: #E52E53; font-size:10px; line-height:12px;"><span style="color:#E52E53;">Updated by {{.PlaceChangedBy.Name | html}}</span></td>
			</tr>
			{{if .Cross.Place.Title}}
			<tr>
				<td width="30px"></td>
				<td style="height:24px; color:#3A6EA5; font-size:18px; line-height:24px; font-weight:500;">{{.Cross.Place.Title | html | replace "\n" "<br />"}}</td>
			</tr>
			<tr>
				<td width="30px"></td>
				<td>{{.Cross.Place.Description | html | replace "\n" "<br />"}}</td>
			</tr>
			{{else}}
			<tr>
				<td width="30px"></td>
				<td style="height:24px; color:#3A6EA5; font-size:18px; line-height:24px; font-weight:500;">Place</td>
			</tr>
			<tr>
				<td width="30px"></td>
				<td>To be decided</td>
			</tr>
			{{end}}
			<tr style="vertical-align:top">
				<td width="30px"></td>
				<td height="20px">&nbsp;</td>
			</tr>
			{{end}}
			{{if .IsExfeeChanged}}
			<tr>
				<td width="30px"></td>
				<td style="color: #E52E53; font-size:10px; line-height:12px;"><span style="color:#E52E53;">Updated</span></td>
			</tr>
			{{if .NewAccepted}}
			<tr>
				<td width="30px"><img src="{{.Config.SiteUrl}}/static/img/rsvp_dot_accepted@2x.png" style="width: 12px; height: 12px; padding-left: 14px;"/></td>
				<td>Accepted: {{range for .NewAccepted}}<span style="font-weight:500; color:#3A6EA5;">{{.V.Name}}</span>{{if not .Last}}, {{end}}{{end}}{{if .OldAccepted}} and {{len .OldAccepted}} {{len .OldAccepted | plural "other" "others"}}{{end}}</td>
			</tr>
			{{end}}
			{{if .NewInvited}}
			<tr>
				<td width="30px"><img src="{{.Config.SiteUrl}}/static/img/rsvp_dot_pending@2x.png" style="width: 12px; height: 12px; padding-left: 14px;"/></td>
				<td>Newly invited: {{range for .NewInvited}}<span style="font-weight:500;">{{.V.Name}} </span>{{if not .Last}}, {{end}}{{end}}</td>
			</tr>
			{{end}}
			{{if .NewDeclined}}
			<tr>
				<td width="30px"><img src="{{.Config.SiteUrl}}/static/img/rsvp_dot_unavailable@2x.png" style="width: 12px; height: 12px; padding-left: 14px;"/></td>
				<td>Unavailable: {{range for .NewDeclined}}<span style="font-weight:500;">{{.V.Name}}</span>{{if not .Last}}, {{end}}{{end}}</td>
			</tr>
			{{end}}
			{{if .Removed}}
			<tr>
				<td width="30px"><span style="padding-left: 17px">-</span></td>
				<td>Removed: {{range for .Removed}}<span style="font-weight:500;"><del>{{.V.Name}}</del></span>{{if not .Last}}, {{end}}{{end}}</td>
			</tr>
			{{end}}
			<tr style="vertical-align:top">
				<td width="30px"></td>
				<td height="20px">&nbsp;</td>
			</tr>
			{{end}}
		</tbody>
	</table>
</a>

			</td></tr>
			<tr color="#7F7F7F" bgcolor="#EEEEEE">
				<td width="30px"></td>
				<td style="color:#7F7F7F; font-size:11px; line-height:13px; padding:8px 10px 8px 0;">Reply this email as group conversation, ‘cc’ people to invite. This email is generated by EXFE automatically. <a href="{{.Config.SiteUrl}}/mute/cross?token={{.To.Token}}" style="color:#7F7F7F;">Unsubscribe</a> its further updates<!--  or <a href="/preference" style="color:#7F7F7F;">change notification preference</a>-->. Get <a href="{{.Config.AppUrl}}" style="color:#3A6EA5; text-decoration:none;">EXFE</a> app <span style="font-style: italic">free</span> to engage easier.</td>
			</tr>
		</tbody>
	</table>
</div></body>
</html>
