<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body><div align="center" style="max-width:640px; margin:0 auto; font-family:Helvetica Neue,Helvetica,Arial,sans-serif; color:#333333; background-color:white; padding:0; font-size:14px; line-height:20px; font-weight:400; -webkit-text-size-adjust:none;">
    <table cellpadding="0" cellspacing="0" style="width:100%; border-spacing:0; border-collapse:collapse; border:1px solid #E6E6E6; background:#FAFAFA;">
		<tbody>
			<tr><td style="height:24px; padding:20px 30px 20px 30px; font-size:18px;">{{.Cross.Title | limit 40 | html}}</td></tr>
			<tr><td style="padding:0 20px 20px 20px;">
				<a href="{{.Link}}" style="text-decoration:none;"><table>
					<tbody>
						<tr><td width="600px" height="36px" style="color:white; background-color:#3A6EA5; padding:0 10px 0 10px;">You’re gathering this ·X·, please check details: <span style="text-decoration:underline;">{{.Link | limit 40 | html}}</span></td></tr>
					</tbody>
				</table></a>
			</td></tr>
			{{if .Cross.Description}}
			<tr><td style="padding:0 30px 10px 30px;">{{.Cross.Description | limit 233 | html | replace "\n" "<br />"}}</tr></td>
			{{end}}
			{{$tz := .Cross.Timezone .To}}{{$timeTitle := .Cross.Time.Title $tz}}
			{{if $timeTitle}}
			<tr><td style="padding:0 30px 0 30px; height:24px; color:#3A6EA5; font-size:18px; line-height:24px; font-weight:500;">{{$timeTitle | html}}</td></tr>
			<tr><td style="padding:0 30px 10px 30px;">{{.Cross.Time.Description $tz | html}}</td></tr>
			{{else}}
			<tr><td style="padding:0 30px 0 30px; height:24px; color:#3A6EA5; font-size:18px; line-height:24px; font-weight:500;">Time</td></tr>
			<tr><td style="padding:0 30px 10px 30px;">To be decided</td></tr>
			{{end}}
			{{if .Cross.Place.Title}}
			<tr><td style="padding:0 30px 0 30px; height:24px; color:#3A6EA5; font-size:18px; line-height:24px; font-weight:500;">{{.Cross.Place.Title | html | replace "\n" "<br />"}}</td></tr>
			<tr><td style="padding:0 30px 10px 30px;">{{.Cross.Place.Description | html | replace "\n" "<br />"}}</td></tr>
			{{else}}
			<tr><td style="padding:0 30px 0 30px; height:24px; color:#3A6EA5; font-size:18px; line-height:24px; font-weight:500;">Place</td></tr>
			<tr><td style="padding:0 30px 10px 30px;">To be decided</td></tr>
			{{end}}
			<tr><td style="padding:0 30px 0 30px; height:24px;"><span style="color:#3A6EA5; font-size:18px; line-height:24px; font-weight:500;">Exfees</span> {{.Cross.Exfee.TotalCount}} invited</td></tr>
			<tr><td style="padding:0 30px 30px 30px;">
				{{range .Cross.Exfee.Invitations}}{{.Identity.Name | limit 15 | html}} <a style="color:#7F7F7F; font-size:12px; font-style:italic;">{{.Identity.ScreenId | html}}</a>&nbsp;&nbsp;&nbsp;{{end}}
			</td></tr>
			<tr><td style="padding:8px 30px 8px 30px; font-size:10px; line-height:11px; color:#7F7F7F; background-color:#EEEEEE;">Invitations will be sent to invitees soon in minutes. Get <a href="{{.Config.AppUrl}}" style="color:#3A6EA5; text-decoration:none;">EXFE</a> app <span style="font-style: italic">free</span> to engage easier. This email is generated by EXFE automatically. <a href="{{.Config.SiteUrl}}/mute/cross?token={{.To.Token}}" style="color:#7F7F7F;">Unsubscribe</a> further updates<!-- or change notification preference-->.</td></tr>
		</tbody>
	</table>
</body>
</html>