<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body><div align="center" style="max-width:640px; margin:0 auto; font-family:Helvetica Neue,Helvetica,Arial,sans-serif; background-color:white; padding:0; font-size:14px; line-height:20px; font-weight:300; -webkit-text-size-adjust:none;">
    <table cellpadding="0" cellspacing="0" style="border-spacing:0; border-collapse:collapse; border:1px solid #E6E6E6; background:#FAFAFA;">
		<tbody>
			<tr><td style="padding:20px 30px 20px 30px;">Hi, {{.To.Name | html}}</td></tr>
			<tr><td style="font-size:21px; line-height:25px; padding:0 30px 0 30px;">Welcome to <a href="abc" style="color:#3A6EA5; text-decoration:none;">EXFE</a></td></tr>
			<tr><td style="padding:0 30px 20px 30px;">A utility for gathering with friends.</tr></td>
			{{if .NeedVerify}}
			<tr><td style="padding:0 20px 0 20px;">
				<a href="{{.Link}}" style="text-decoration:none;"><table>
					<tbody>
						<tr><td width="600px" height="36px" style="color:white; background-color:#3A6EA5; padding:0 10px 0 10px;">Please click this link to complete registration: <span style="text-decoration:underline;">{{.Link | limit 40 | html}}</span></td></tr>
					</tbody>
				</table></a>
			</td></tr>
			{{end}}
			<tr><td style="padding:20px 30px 20px 30px;"><span style="color:#3A6EA5;">·X·</span> (cross) is a gathering of people. We save you from calling up every one RSVP, losing in endless emails and messages off the point.</td></tr>
			<tr><td style="padding:0 30px 30px 30px;"><span style="color:#3A6EA5;">EXFE</span> your friends. Gather a <span style="color:#3A6EA5;">·X·</span>.</td></tr>
			<tr><td><table width="640px" height="200px" style="background:url(http://panda.0d0f.com/static/img/rome_mail.jpg);">
				<tbody>
					<tr><td colspan="2" style="font-size:21px; padding:30px 30px 20px 30px; vertical-align:top;">“Rome wasn’t built in a day.”</td></tr>
					<tr>
						<td width="300px" style="padding:0 0 0 30px; vertical-align:top;"><span style="color:#3A6EA5;">EXFE</span> [ˈɛksfi] is still in pilot period. We’re building up blocks, consequently something buggy or awkward may happen. Apologies for any trouble you may encounter. Any feedback, please email feedback@exfe.com.<br />Much appreciated.</td>
						<td></td>
					</tr>
				</tbody>
			</table></td></tr>
			<tr><td style="padding:8px 30px 8px 30px; font-size:10px; color:#7F7F7F; background-color:#EEEEEE;">This email is sent to <span style="font-style:italic">{{.To.ExternalUsername | html }}</span> per identity registration request on <a href="{{.Config.SiteUrl}}" style="color:#3A6EA5; text-decoration:none;">EXFE</a>.<!-- Report <a href="abc" style="color:#7F7F7F;">spam</a>?--></td></tr>
		</tbody>
	</table>
</body>
</html>