<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body><div align="center" style="max-width:640px; margin:0 auto; font-family:Helvetica Neue,Helvetica,Arial,sans-serif; background-color:white; padding:0; font-size:14px; line-height:20px; font-weight:300; -webkit-text-size-adjust:none;">
    <table cellpadding="0" cellspacing="0" style="border-spacing:0; border-collapse:collapse; border:1px solid #E6E6E6; background:#FAFAFA;">
		<tbody>
			<tr><td style="padding:20px 30px 20px 30px;">Hi, {{.UserName | html}}</td></tr>
			<tr><td style="padding:0 30px 20px 30px;">You just requested to reset your forgotten <a href="{{.Config.SiteUrl}}" style="color:#3A6EA5; text-decoration:none;">EXFE</a> password.</tr></td>
			<tr><td style="padding:0 20px 0 20px;">
				<a href="{{.Link}}" style="text-decoration:none;"><table>
					<tbody>
						<tr><td width="600px" height="36px" style="color:white; background-color:#3A6EA5; padding:0 10px 0 10px;">Please click this link to reset password: <span style="text-decoration:underline;">{{.Link | limit 40 | html}}</span></td></tr>
					</tbody>
				</table></a>
			</td></tr>
			<tr><td style="padding:0 30px 20px 30px;">This single-use link will be expired in 1 day.</td></tr>
			<tr><td style="padding:8px 30px 8px 30px; font-size:10px; color:#7F7F7F; background-color:#EEEEEE;">This email is sent to <span style="font-style:italic">{{.To.ExternalUsername | html}}</span> per forgot password request on <a href="{{.Config.SiteUrl}}" style="color:#3A6EA5; text-decoration:none;">EXFE</a>.<!-- Report <a href="abc" style="color:#7F7F7F;">spam</a>?--></td></tr>
		</tbody>
	</table>
</body>
</html>