<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
{{$link := .Link}}
<body style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif; max-width:640px; margin:0; padding:0; color:#333333; font-size:14px; line-height:20px; font-weight:400;">
	<table cellpadding="0" cellspacing="0" style="width:100%; background-color:#FAFAFA; border-spacing:0; border-collapse:collapse;">
		<tbody>
			{{if .IsTitleChanged}}
			<tr>
				<td width="30px"></td>
				<td style="color: #E52E53; font-size:10px; line-height:12px;"><span style="color:#E52E53;">Updated</span></td>
			</tr>
			{{end}}			
			<tr>
				<td width="30px"></td>
				<td style="padding: 10px 0 10px 0; font-size:18px; line-height:24px;"><a href="{{$link}}" style="color:#333333; text-decoration: none;">{{.Cross.Title | html}}</a></td>
			</tr>
			{{if .IsDescriptionChanged}}
			<tr>
				<td width="30px"></td>
				<td style="color: #E52E53; font-size:10px; line-height:12px;"><span style="color:#E52E53;">Updated</span></td>
			</tr>
			<tr>
				<td width="30px"></td>
				<td style="padding: 10px 0 10px 0;"><a href="{{$link}}" style="color:#333333; text-decoration: none;">{{.Cross.Description | html}}</a></td>
			</tr>
			{{end}}
			{{if .IsTimeChanged}}{{$tz := .Timezone}}{{$time := .Cross.Time.StringInZone $tz}}
			<tr>
				<td width="30px"></td>
				<td style="color: #E52E53; font-size:10px; line-height:12px;"><span style="color:#E52E53;">Updated</span></td>
			</tr>
			{{if $time}}
			<tr>
				<td width="30px"></td>
				<td style="height:24px; color:#3A6EA5; font-size:18px; line-height:24px; font-weight:500;"><a href="{{$link}}" style="color:#3A6EA5; text-decoration: none;">{{$time | html}}</a></td>
			</tr>
			<tr>
				<td width="30px"></td>
				<td></td>
			</tr>
			{{else}}
			<tr>
				<td width="30px"></td>
				<td style="height:24px; color:#3A6EA5; font-size:18px; line-height:24px; font-weight:500;"><a href="{{$link}}" style="color:#3A6EA5; text-decoration: none;">Time</a></td>
			</tr>
			<tr>
				<td width="30px"></td>
				<td><a href="{{$link}}" style="color:#333333; text-decoration: none;">To be decided</a></td>
			</tr>
			{{end}}
			{{end}}
			{{if .IsPlaceChanged}}
			<tr>
				<td width="30px"></td>
				<td style="color: #E52E53; font-size:10px; line-height:12px;"><span style="color:#E52E53;">Updated</span></td>
			</tr>
			{{if .Cross.Place.Title}}
			<tr>
				<td width="30px"></td>
				<td style="height:24px; color:#3A6EA5; font-size:18px; line-height:24px; font-weight:500;"><a href="{{$link}}" style="color:#3A6EA5; text-decoration: none;">{{.Cross.Place.Title | html | replace "\n" "<br />"}}</a></td>
			</tr>
			<tr>
				<td width="30px"></td>
				<tr><td><a href="{{$link}}" style="color:#333333; text-decoration: none;">{{.Cross.Place.Description | html | replace "\n" "<br />"}}</a></td>
			</tr>
			{{else}}
			<tr>
				<td width="30px"></td>
				<td style="height:24px; color:#3A6EA5; font-size:18px; line-height:24px; font-weight:500;"><a href="{{$link}}" style="color:#3A6EA5; text-decoration: none;">Place</a></td>
			</tr>
			<tr>
				<td width="30px"></td>
				<td><a href="{{$link}}" style="color:#333333; text-decoration: none;">To be decided</a></td>
			</tr>
			{{end}}
			{{end}}
			{{if .IsExfeeChanged}}
			<tr>
				<td width="30px"></td>
				<td style="color: #E52E53; font-size:10px; line-height:12px;"><span style="color:#E52E53;">Updated</span></td>
			</tr>
			{{if .NewAccepted}}
			<tr>
				<td width="30px"><img src="cid:rsvp_dot_accepted_2x_png" style="width: 12px; height: 12px; padding-left: 14px;"/></td>
				<td><a href="{{$link}}" style="color:#333333; text-decoration: none;">Accepted: {{range for .NewAccepted}}<span style="font-weight:500; color:#3A6EA5;">{{.V.Name}}</span>{{if not .Last}}, {{end}}{{end}}{{if .OldAccepted}} and {{len .OldAccepted}} {{len .OldAccepted | plural "other" "others"}}{{end}}</a></td>
			</tr>
			{{end}}
			{{if .NewInvited}}
			<tr>
				<td width="30px"><img src="cid:rsvp_dot_pending_2x_png" style="width: 12px; height: 12px; padding-left: 14px;"/></td>
				<td><a href="{{$link}}" style="color:#333333; text-decoration: none;">Newly invited: {{range for .NewInvited}}<span style="font-weight:500;">{{.V.Name}} </span>{{if not .Last}}, {{end}}{{end}}</a></td>
			</tr>
			{{end}}
			{{if .NewDeclined}}
			<tr>
				<td width="30px"><img src="cid:rsvp_dot_unavailable_2x_png" style="width: 12px; height: 12px; padding-left: 14px;"/></td>
				<td><a href="{{$link}}" style="color:#333333; text-decoration: none;">Unavailable: {{range for .NewDeclined}}<span style="font-weight:500;">{{.V.Name}}</span>{{if not .Last}}, {{end}}{{end}}</a></td>
			</tr>
			{{end}}
			{{if .Removed}}
			<tr>
				<td width="30px"><span style="padding-left: 17px">-</span></td>
				<td><a href="{{$link}}" style="color:#333333; text-decoration: none;">Removed: {{range for .Removed}}<span style="font-weight:500;"><del>{{.V.Name}}</del></span>{{if not .Last}}, {{end}}{{end}}</a></td>
			</tr>
			{{end}}
			{{end}}
			<tr style="vertical-align:top">
				<td width="30px"></td>
				<td height="30px">&nbsp;</td>
			</tr>
			<tr color="#7F7F7F" bgcolor="#EEEEEE">
				<td width="30px"></td>
				<td style="color:#7F7F7F; font-size:11px; line-height:13px; padding:8px 0 8px 0;">Reply this email as group conversation, ‘cc’ people to invite. Get <a href="{{.Config.AppUrl}}" style="color:#3A6EA5; text-decoration:none;">EXFE</a> app <span style="font-style: italic">free</span> to engage easier.<br />This email is generated by EXFE automatically. <a href="{{.Config.SiteUrl}}/mute/cross?token={{.To.Token}}" style="color:#7F7F7F;">Unsubscribe</a><!-- further updates or <a href="/preference" style="color:#7F7F7F;">change notification preference</a>-->.</td>
			</tr>
		</tbody>
	</table>
</body>
</html>