{
  "site_url": "",
  "site_api": "",
  "site_img": "",
  "app_url": "",
  "iom_url": "http://127.0.0.1:1234/iom",

  "redis": {
    "netaddr": "",
    "db": 0,
    "password": ""
  },
  "iom": {
    "port": 1234
  },
  "cross": {
    "time_out": 5,
    "delay": {
      "twitter": 300,
      "push": 300,
      "email": 300
    }
  },
  "user": {
    "time_out": 5
  },
  "bot": {
    "imap_time_out": 5,
    "imap_host": "",
    "imap_user": "",
    "imap_password": ""
  },
  "twitter": {
    "client_token": "",
    "client_secret": "",
    "access_token": "",
    "access_secret": "",
    "screen_name": "",
    "time_out": 5
  },
  "apn": {
    "time_out": 5,
    "cert": "apns_dev_cert.pem",
    "key": "apns_dev_key.pem",
    "server": "gateway.sandbox.push.apple.com:2195",
    "rootca": "root.ca"
  },
  "c2dm": {
    "time_out": 5,
    "email": "",
    "password": "",
    "appid": ""
  },
  "email": {
    "time_out": 5,
    "host": "smtp.gmail.com",
    "port": 465,
    "user": "contact@0d0f.com",
    "password": "[S9rQ+vNjJloR*Vs"
  }
}
