{
  "site_url": "",
  "site_api": "",
  "site_img": "",
  "app_url": "",
  "template_path": "",
  "default_lang": "en_US",

  "db": {
    "addr": "127.0.0.1",
    "port": 3306,
    "username": "root",
    "password": "",
    "db_name": "exfe_dev"
  },
  "redis": {
    "netaddr": "",
    "db": 0,
    "password": "",
    "max_connections": 5,
    "heart_beat_in_second": 60
  },
  "email": {
    "host": "smtp.gmail.com",
    "port": 465,
    "username": "contact@0d0f.com",
    "password": "[S9rQ+vNjJloR*Vs",
    "account": "[DEV]EXFE ·X·",
    "domain": "0d0f.com",

    "time_out": 5
  },

  "exfe_service": {
    "addr": "127.0.0.1",
    "port": 23333
  },
  "exfe_queue": {
    "addr": "127.0.0.1",
    "port": 23334,
    "head": {"Head10":600}
  },

  "token_manager": {
    "table_name": "tokens"
  },
  "thirdpart": {
    "twitter": {
      "client_token": "",
      "client_secret": "",
      "access_token": "",
      "access_secret": "",
      "screen_name": ""
    },
    "apn": {
      "cert": "apns_dev_cert.pem",
      "key": "apns_dev_key.pem",
      "server": "gateway.sandbox.push.apple.com:2195",
      "rootca": "root.ca",
      "timeout_in_minutes": 20
    },
    "gcm": {
      "key": ""
    }
  },

  "iom_url": "http://127.0.0.1:1234/iom",
  "email_name": "EXFE ·X·",
  "email_domain": "0d0f.com",
  "iom": {
    "port": 1234
  },
  "cross": {
    "time_out": 5,
    "delay": {
      "twitter": 300,
      "push": 300,
      "email": 300
    }
  },
  "user": {
    "time_out": 5
  },
  "bot": {
    "imap_time_out": 5,
    "imap_host": "",
    "imap_user": "",
    "imap_password": ""
  },
  "twitter": {
    "client_token": "",
    "client_secret": "",
    "access_token": "",
    "access_secret": "",
    "screen_name": "",
    "time_out": 5
  },
  "apn": {
    "time_out": 5,
    "cert": "apns_dev_cert.pem",
    "key": "apns_dev_key.pem",
    "server": "gateway.sandbox.push.apple.com:2195",
    "rootca": "root.ca"
  },
  "gcm": {
    "time_out": 5,
    "key": ""
  },
  "email": {
    "time_out": 5,
    "host": "smtp.gmail.com",
    "port": 465,
    "user": "contact@0d0f.com",
    "password": "[S9rQ+vNjJloR*Vs"
  }
}
