{
  "site_url": "",
  "site_api": "",
  "site_img": "",
  "app_url": "",
  "template_path": "",
  "default_lang": "en_US",

  "test": false,
  "db": {
    "addr": "127.0.0.1",
    "port": 3306,
    "username": "root",
    "password": "",
    "db_name": "exfe_dev"
  },
  "redis": {
    "netaddr": "",
    "db": 0,
    "password": "",
    "max_connections": 5,
    "heart_beat_in_second": 60
  },
  "email": {
    "host": "smtp.gmail.com",
    "port": 465,
    "username": "contact@0d0f.com",
    "password": "[S9rQ+vNjJloR*Vs",
    "account": "[DEV]EXFE ·X·",
    "domain": "0d0f.com"
  },

  "exfe_service": {
    "addr": "127.0.0.1",
    "port": 23333,
    "services": {"tokenmanager":true, "iom":true, "thirdpart":true, "notifier":true}
  },
  "exfe_queue": {
    "addr": "127.0.0.1",
    "port": 23334,
    "head": {"Head10":600},
    "tail": {"Tail10":600}
  },

  "token_manager": {
    "table_name": "tokens"
  },
  "thirdpart": {
    "max_state_cache": 1000,
    "twitter": {
      "client_token": "",
      "client_secret": "",
      "access_token": "",
      "access_secret": "",
      "screen_name": ""
    },
    "apn": {
      "cert": "apns_dev_cert.pem",
      "key": "apns_dev_key.pem",
      "server": "gateway.sandbox.push.apple.com:2195",
      "rootca": "root.ca",
      "timeout_in_minutes": 20
    },
    "gcm": {
      "key": ""
    }
  },
  "bot": {
    "email": {
      "imap_host": "",
      "imap_user": "",
      "imap_password": "",
      "timeout_in_second": 5
    }
  }
}
