{
  "redis": {
    "netaddr": "",
    "db": 0,
    "password": ""
  },
  "twitter": {
    "client_token": "",
    "client_secret": "",
    "access_token": "",
    "access_secret": "",
    "screen_name": ""
  },
  "service": {
    "time_out": 5
  },
  "site_url": ""
}
