EXFE identity verification

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <table border="0" cellpadding="0" cellspacing="0" style="font-family: Verdana; font-size: 14px; line-height: 20px; color: #191919; font-weight: normal; width: 640px; padding: 10px 40px 30px 40px; background-color: #fbfbfb;">
            <tr>
                <td>
                    <p style="font-size: 18px; line-height: 24px;">
                        Hi, %name%
                    </p>
                    <p>
                        <span style="font-size: 18px; line-height: 24px;">Welcome to <span style="color: #0591ac;">EXFE</span>!</span>
                        <br>
                        <span>An utility for hanging out with friends.</span>
                    </p>
                    <p>
                        <a style="color:#333333; text-decoration: none;" href="%link%">
                            Click to verify your identity: <span style="text-decoration: underline;">%partlink%</span>
                        </a>
                    </p>
                    <p>
                        <span style="color: #0591ac;">X</span> (cross), gathering of friends for anything you want to do with bunch of people. We save you from calling up every one just to confirm attendance, and lost in emails or social network messages of endless discussion off the point.
                    </p>
                    <p>
                        Go, gather your friends!
                    </p>
                    <p style="color: #666666; font-size: 11px;">
                        <br>
                        This email is sent to %external_identity% for identity verification request of <span style="color:#0591ac;">EXFE</span>. Report Spam?
                    </p>
                </td>
            </tr>
        </table>
    </body>
</html>

