%title%

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <table border="0" cellpadding="0" cellspacing="0" style="font-family: Verdana; font-size: 14px; line-height: 20px; color: #191919; font-weight: normal; width: 640px; padding: 10px 20px 30px 20px; background-color: #fbfbfb;">
            <tr>
                <td valign="top">
                    <p style="font-size: 18px; line-height: 24px;">
                        Hello. %name%
                    </p>
                    <p>
                        <span style="font-size: 18px; line-height: 24px;">Welcome to <a style="color: #0591ac; text-decoration: none;" href="%site_url%">EXFE</a>!</span>
                        <br>
                        <span>An utility for hanging out with friends.</span>
                    </p>
                    %link%
                    <p>
                        <span style="color: #0591ac;">X</span> (cross) is a gathering of people, for anything you want to do with them. We save you from calling up every one RSVP, losing in endless emails messages off the point.
                    </p>
                </td>
            </tr>
            <tr>
                <td height="20"></td>
            </tr>
            <tr>
                <td>
                    <img style="float: left; margin-left: 20px; margin-right: 40px; margin-bottom: 10px;" src="%site_url%/static/images/rome.png">
                    <div style="color:#333333;">
                        <p style="font-size: 18px; line-height: 24px; margin: 0 0 20px 0">
                            “Rome wasn't built in a day.”
                        </p>
                        <p style="margin: 0;">
                            <a style="color: #0591ac; text-decoration: none;" href="%site_url%">EXFE</a>
                            [ˈɛksfi] is still in
                            <span style ="font-weight: bold;">testing</span>
                            stage. We’re building up blocks of it, thus some bugs and unfinished pages. Any feedback, please email
                            <a style="font-style: italic; color: #333333; text-decoration: underline;" href="mailto:contact@exfe.com">feedback@exfe.com</a>.
                            Our apologies for any trouble you may encounter, much appreciated.
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td height="20"></td>
            </tr>
            <tr>
                <td style="color: #666666; font-size: 11px;">
                    This email is sent to
                    <a style="font-style: italic; color: #666666; text-decoration: none;" href="mailto:%external_identity%">%external_identity%</a>
                    per identity registration request on
                    <a style="color: #0591ac; text-decoration: none;" href="%site_url%">EXFE</a>.&nbsp;&nbsp;&nbsp;&nbsp;<!--<a style="color:#999999; text-decoration: none;" href="">Report <span style="text-decoration: underline;">Spam</span></a>?-->
                </td>
            </tr>
        </table>
    </body>
</html>
