Update: {{ .Cross.Title }}
//////////////////////////////////

Your ·X· “{{ if .Old_cross }}{{ .Old_cross.Title }}{{ else }}{{ .Cross.Title }}{{ end }}” has been updated by {{ if index .By_identities 0 }}{{ with index .By_identities 0 }}{{ .Name }}{{ end }},{{ end }} etc.

{{ .Cross.Title }}

{{ .Cross.Time.StringInZone .Timezone }}

{{ .Cross.Place.Title }}
{{ .Cross.Place.Description }}

{{ if .Accepted }}{{ .Cross.TotalAccepted }} Accepted: {{ $a := .Accepted }}{{ range $i, $e := $a }}{{ .Name }}{{ if last $i $a | not }}, {{ end }}{{ end }}and {{ .OldAccepted }} others.{{ end }}
{{ if .Declined }}Unavailable: {{ $a := .Declined }}{{ range $i, $e := $a }}{{ .Name }}{{ if last $i $a | not }}, {{ end }}{{ end }}.{{ end }}
{{ if .NewlyInvited }}Newly invited: {{ $a := .NewlyInvited }}{{ range $i, $e := $a }}{{ if .IsAccepted }}{{ .Identity.Name }}{{ else }}{{ .Identity.Name }}{{ end }}{{ if last $i $a | not }},{{ end }}{{ end }}.{{ end }}
{{ if .Removed }}Removed: {{ $a := .Removed }}{{ range $i, $e := $a }}{{ .Name }}{{ if last $i $a | not }}, {{ end }}{{ end }}.{{ end }}

Invitations:
{{ $api := .Config.Site_api }}{{ range .Cross.Exfee.Invitations }}
{{ .Identity.Name }}{{ if .IsAccepted }} Accepted{{ end }}{{ if .Host }} Host{{ end }}{{ if .Mates }} w/ {{ .Mates }} people{{ end }}
{{ end }}

{{ $timezone := .Timezone }}
{{ range .Posts }}
{{ .By_identity.Name }} at {{ .CreatedAt $timezone }} said:
  {{ .Content }}

{{ end }}

Reply this email directly as conversation, or try EXFE app( {{ .Config.App_url }} ).
This update is sent from EXFE( {{ .Config.Site_url }} ) automatically. Unsubscribe? {{ .Config.Site_url }}/s/reportSpam?token={{ .Token }}
//////////////////////////////////

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style>
            .exfe_mail_identity_name {
                color: #0591AC;
            }
            .exfe_mail_msg_identity_name {
                color: #666666;
            }
            .exfe_mail_msg_at {
                font-size: 12px;
                color: #999999;
            }
            .exfe_mail_msg_time {
                font-size: 12px;
                color: #666666;
            }
        </style>
    </head>
    <body>
        <table border="0" cellpadding="0" cellspacing="0" style="font-family: Verdana; font-size: 13px; line-height: 20px; color: #191919; font-weight: normal; width: 640px; padding: 20px; background-color: #fbfbfb;">
            <tr>
                <td colspan="5" style="color: #333333;">
                    Your
                    <span style="color: #0591ac;">·X·</span>
                    “<span style="color: #191919;">{{ if .Old_cross }}{{ .Old_cross.Title }}{{ else }}{{ .Cross.Title }}{{ end }}</span>”
                    has been updated by
                    {{ if index .By_identities 0 }}<span style="color: #191919;">{{ with index .By_identities 0 }}{{ .Name }}{{ end }}</span>,{{ end }}
                    etc.
                </td>
            </tr>
            <tr><td colspan="5" height="10"></td></tr>
            <tr>
                <td colspan="5" style="font-size: 20px; line-height: 26px;">
                    {{ .Cross.Title }}
                </td>
            </tr>
            <tr><td colspan="5" height="10"></td></tr>
            <tr>
                <td valign="top" width="180">
                    <p style="font-size: 20px; line-height: 26px; color: #333333; margin: 0;">
                        {{ .Cross.Time.StringInZone .Timezone }}
                    </p>
                </td>
                <td></td>
                <td valign="top" width="180" style="word-break: break-all;">
                    <p style="font-size: 20px; line-height: 26px; color: #333333; margin: 0;">
                        {{ .Cross.Place.Title }}
                    </p>
                    <p style="color: #191919; margin: 0;">
                        {{ replace .Cross.Place.Description "\n" "<br />"}}
                    </p>
                </td>
                <td></td>
                <td valign="top" width="180">
                    <!--Map-->
                </td>
            </tr>
            <tr><td colspan="5" height="10"></td></tr>
            <tr>
                <td colspan="5">
                    <table border="0" cellpadding="0" cellspacing="0" style="font-family: Verdana; font-size: 13px; line-height: 20px; color: #191919; font-weight: normal; width: 640px; background-color: #fbfbfb;">
                       {{ if .Accepted }}
                       <tr>
                            <td width="12"><img src="{{ .Config.Site_img }}/email/rsvp_accepted_12_blue.png" /></td>
                            <td>
                                <p style="margin: 0;">
                                    <span class="exfe_mail_identity_name">{{ .Cross.TotalAccepted }}</span>
                                    Accepted:
                                    {{ $a := .Accepted }}
                                    {{ range $i, $e := $a }}
                                    <span class="exfe_mail_identity_name">{{ .Name }}</span>{{ if last $i $a | not }}, {{ end }}
                                    {{ end }}
                                    and {{ .OldAccepted }} others.
                                </p>
                            </td>
                        </tr>
                        {{ end }}
                        {{ if .Declined }}
                        <tr>
                            <td width="12"><img src="{{ .Config.Site_img }}/email/rsvp_declined_12.png" /></td>
                            <td>
                                <p style="margin: 0;">
                                    Unavailable:
                                    {{ $a := .Declined }}
                                    {{ range $i, $e := $a }}
                                    {{ .Name }}{{ if last $i $a | not }}, {{ end }}{{ end }}.
                                </p>
                            </td>
                        </tr>
                        {{ end }}
                        {{ if .NewlyInvited }}
                        <tr>
                            <td width="12"><img src="{{ .Config.Site_img }}/email/plus_12_blue.png" /></td>
                            <td>
                                <p style="margin: 0;">
                                    Newly invited:
                                    {{ $a := .NewlyInvited }}
                                    {{ range $i, $e := $a }}
                                    {{ if .IsAccepted }}<span class="exfe_mail_identity_name">{{ .Identity.Name }}</span>{{ else }}{{ .Identity.Name }}{{ end }}{{ if last $i $a | not }},{{ end }}{{ end }}.
                                </p>
                            </td>
                        </tr>
                        {{ end }}
                        {{ if .Removed }}
                        <tr>
                            <td width="12"><img src="{{ .Config.Site_img }}/email/minus_12.png" /></td>
                            <td>
                                <p style="margin: 0;">
                                    Removed:
                                    {{ $a := .Removed }}
                                    {{ range $i, $e := $a }}
                                    {{ .Name }}{{ if last $i $a | not }}, {{ end }}{{ end }}.
                                </p>
                            </td>
                        </tr>
                        {{ end }}
                    </table>
                </td>
            </tr>
            <tr><td colspan="5" height="10"></td></tr>
            <tr>
                <td colspan="5">
                    {{ $api := .Config.Site_api }}
                    {{ range .Cross.Exfee.Invitations }}
                    <img style="padding-right: 5px;" width="40" height="40" src="{{ $api }}/v2/avatar/render?url={{ .Identity.Avatar_filename | base64 | urlquery }}&width=40&height=40{{ if not .IsAccepted }}&alpha=0.25{{ end }}{{ if .Host }}&&ishost=true{{ end }}{{ if .Mates }}&&mates={{ .Mates }}{{ end }}">
                    {{ end }}
                </td>
            </tr>
            <tr><td colspan="5" height="10"></td></tr>
            <tr><td colspan="5" height="1" background="{{ .Config.Site_img }}/email/dash.png"></td></tr>
            <tr><td colspan="5" height="20"></td></tr>
            <tr>
                <td colspan="5">
                    <table border="0" cellpadding="0" cellspacing="0">
                        {{ $timezone := .Timezone }}
                        {{ range .Posts }}
                        <tr>
                            <td valign="top" width="50" align="left">
                                <img width="40" height="40" src="{{ .By_identity.Avatar_filename }}">
                            </td>
                            <td valign="top">
                              <span class="exfe_mail_message">{{ .Content }}</span>
                                <br>
                                <span class="exfe_mail_msg_identity_name">{{ .By_identity.Name }}</span>
                                <span class="exfe_mail_msg_at">at</span>
                                <span class="exfe_mail_msg_time">{{ .CreatedAt $timezone }}</span>
                            </td>
                        </tr>
                        <tr><td colspan="2" height="20"></td></tr>
                        {{ end }}
                    </table>
                </td>
            </tr>
            <tr><td colspan="5" height="20"></td></tr>
            <tr>
                <td colspan="5" style="font-size: 11px; line-height: 15px; color: #7F7F7F;">
                    Reply this email directly as conversation, or try
                    <a style="color: #0591ac; text-decoration: none;" href="{{ .Config.App_url }}">EXFE</a> app.
                    <br>
                    <span style="color: #B2B2B2">
                    This update is sent from
                    <a style="color: #0591ac; text-decoration: none;" href="{{ .Config.Site_url }}">EXFE</a>
                    automatically.
                    <!--
                    You can change
                    <a style="color: #B2B2B2; text-decoration: undeline;" href="">notification preference</a>.
                    -->
                    <a style="color: #E6E6E6; text-decoration: none;" href="{{ .Config.Site_url }}/s/reportSpam?token={{ .Token }}">Unsubscribe?</a>
                    </span>
                </td>
            </tr>
        </table>
    </body>
</html>
