<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style>
            .exfe_mail_label {
                background-color: #0591ac;
                color: #FFFFFF;
                font-size: 11px;
                padding: 0 2px 0 2px;
            }
            .exfe_mail_identity {
                font-style: italic;
            }
            .exfe_mail_identity_name {
                color: #191919;
            }
        </style>
    </head>
    <body>
        <table width="640" border="0" cellpadding="0" cellspacing="0" style="font-family: Verdana; font-size: 13px; line-height: 19px; color: #191919; font-weight: normal; padding: 30px 40px 30px 40px; background-color: #fbfbfb; min-height: 562px;">
            <tr>
                <td colspan="3" valign="top" style="font-size: 32px; line-height: 38px; padding-bottom: 18px;">
                  <a href="{{.Cross.LinkTo .Site_url .To.Token}}" style="color: #0591ac; text-decoration: none;">{{.Cross.Title}}</a>
                </td>
            </tr>
            <tr>
                <td width="340">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="19" valign="top" style="padding-bottom: 10px;">
                              To: <span style="font-weight: bold;">{{.To.Identity.Name}}</span>
                            </td>
                        </tr>
                        {{ if .Old_cross }}
                        <tr>
                            <td valign="top" style="padding-bottom: 20px;">
                              Old <span style="color: #0591ac; text-decoration: none;">X</span> {{ .Old_cross.Title}} was changed..
                            </td>
                        </tr>
                        {{ else }}
                        <tr>
                            <td valign="top" style="padding-bottom: 20px;">
                              You're successfully gathering this <span style="color: #0591ac; text-decoration: none;">X</span>.
                            </td>
                        </tr>
                        {{ end }}
                        <tr>
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td valign="top" width="160">
                                            <p style="font-size: 20px; line-height: 26px; margin: 0; color: #333333;">
                                              {{.Cross.Time.StringInZone .To.Identity.Timezone}}
                                            </p>
                                        </td>
                                        <td valign="top">
                                            <p style="font-size: 20px; line-height: 26px; margin: 0; color: #333333;">
                                              {{.Cross.Place.Title}}
                                            </p>
                                            <p style="color: #191919; margin: 0;">
                                              {{.Cross.Place.Description}}
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="padding-top: 30px;">
                                You're <span style="color: #0591ac; text-decoration: none;">{{.To.Rsvp_status}}</span> to attend.<br />
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="padding-bottom: 30px;">
                                <a alt="Check it out" href="{{.Cross.LinkTo .Site_url .To.Token}}">Check it out...</a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                {{.Cross.Description}}
                                <!--a style="font-style: italic; color: #666666; text-decoration: none;" href="">...more</a-->
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="30"></td>
                <td valign="top">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="80" valign="bottom" align="right">
                                <!--<span style="color: #0591ac;">3</span> confirmed-->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table border="0" style="color: #333333;" cellpadding="0" cellspacing="0">
                                    {{range .Cross.Exfee.Invitations}}
                                    <tr>
                                        <td width="25" height="25" align="left" valign="top">
                                          <img width="20" height="20" src="{{.Identity.Avatar_filename}}">
                                        </td>
                                        <td>
                                            <span>{{.Identity.Name}}</span> {{ if .Host }}<span class="exfe_mail_label">host</span>{{ end }}
                                        </td>
                                    </tr>
                                    {{end}}
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            {{ if .Posts }}
            <tr>
                <td colspan="3" style="font-size: 15px; line-height: 15px; color: #333333; padding-top: 40px;">
                    Conversation:
                </td>
            </tr>
            <tr>
                <td>
                    <table border="0" style="color: #333333;" cellpadding="0" cellspacing="0">
                        {{range .Posts}}
                        <tr>
                            <td valign="top" width="50" align="left">
                                <img width="40" height="40" src="{{ .By_identity.Avatar_filename }}">
                            </td>
                            <td valign="top">
                                <span class="exfe_mail_message">{{.Content}}</span>
                                <br>
                                <span class="exfe_mail_msg_identity_name">{{.By_identity.Name}}</span>
                                <span class="exfe_mail_msg_at">at</span>
                                <span class="exfe_mail_msg_time">{{.By_identity.CreateAt .To_identity.Timezone</span>
                            </td>
                        </tr>
                        <tr><td colspan="2" height="20"></td></tr>

                        <tr>
                            <td width="25" height="25" align="left" valign="top">
                                <img width="20" height="20" src="{{.By_identity.Avatar_filename}}">
                                {{.By_identity.Name}}
                            </td>
                            <td>
                                {{.Content}}
                            </td>
                        </tr>
                        {{end}}
                    </table>
                </td>
            </tr>
            {{ end }}
            <tr>
                <td colspan="3" style="font-size: 11px; line-height: 15px; color: #7F7F7F; padding-top: 40px;">
                    Reply this email directly as conversation, or
                    <a style="color: #0591ac; text-decoration: none;" href="{{.App_url}}">try EXFE app</a>.
                    <br>
                    This
                    <a style="color: #0591ac; text-decoration: none;" href="{{.Site_url}}">X</a>
                    invitation is sent by
                    <span class="exfe_mail_identity_name">{{.Cross.By_identity.Name}}</span>
                    from
                    <a style="color: #0591ac; text-decoration: none;" href="{{.Site_url}}">EXFE</a>.
                    <a style="font-size: 10px; color: #E6E6E6; text-decoration: none;" href="{{.Site_url}}/report_spam">Report
                    <span style="text-decoration: underline;">spam</span>?</a>
                </td>
            </tr>
        </table>
    </body>
</html>
