Welcome to EXFE
//////////////////////////////////

{{ if .IsHost }}You're gathering this ·X·.{{ else }}Invitation from {{ $a := index .By_identities 0 }}{{ $a.Name }}. {{ end }}


{{ .Cross.Title }}
=======
{{ .Cross.Link .Config.Site_url }}
{{ $time := .Cross.Time.StringInZone .Timezone }}{{ if $time }}
{{ $time }}
======={{ else }}
Time
=======
  To be decided.{{ end }}

{{ if .Cross.Place.Title }}{{ .Cross.Place.Title }}{{ else }}Place{{ end }}
=======
  {{ if .Cross.Place.Description }}{{ .Cross.Place.Description }}{{ else }}To be decided.{{ end }}


{{ if .Confirmed }}You've been CONFIRMED to attend. Check it out: {{ .Cross.LinkTo .Config.Site_url .Token}}{{ else }}I'm in. Check it out: {{ .Cross.LinkTo .Config.Site_url .Token}}{{ end }}


{{ .Cross.TotalAccepted }} Invited:{{ range .Cross.Exfee.Invitations }}{{ if .IsAccepted }}
+ {{ .Identity.Name }}{{ if not .Identity.Connected_user_id }} {{ .Identity.External_id }}{{ end }}{{ if .Host }} (Host){{ end }}{{ if .Mates }} w/ {{ .Mates }} people{{ end }}{{ end }}{{ end }}{{ range .Cross.Exfee.Invitations }}{{ if not .IsAccepted }}
· {{ .Identity.Name }}{{ if not .Identity.Connected_user_id }} {{ .Identity.External_id }}{{ end }}{{ if .Host }} (Host){{ end }}{{ if .Mates }} w/ {{ .Mates }} people{{ end }}{{ end }}{{ end }}

{{ if .Cross.Description }}
Description
-------
  {{ .Cross.Description }}{{ if .LongDescription }}...{{ end }}

{{ end }}
# Reply this email directly as conversation. #
//////////////////////////////////

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style>
            .exfe_mail_label {
                background-color: #D5E8F2;
                color: #3a6ea5;
                font-size: 11px;
                padding: 0 2px 0 2px;
            }
            .exfe_mail_mates {
                color: #3a6ea5;
                font-size: 12px;
            }
            .exfe_mail_identity {
                font-style: italic;
            }
            .exfe_mail_identity_name {
                color: #191919;
            }
        </style>
    </head>
    <body>
        <table width="640" border="0" cellpadding="0" cellspacing="0" style="font-family: Verdana; font-size: 13px; line-height: 19px; color: #191919; font-weight: normal; padding: 30px 40px 30px 40px; background-color: #fbfbfb; min-height: 562px;">
            <tr>
                <td colspan="3" valign="top" style="font-size: 32px; line-height: 38px; padding-bottom: 18px;">
                    <a href="{{ .Cross.LinkTo .Config.Site_url .Token }}" style="color: #3a6ea5; text-decoration: none;">
                        {{ .Cross.Title }}
                    </a>
                </td>
            </tr>
            <tr>
                <td width="340">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="19" valign="top" style="padding-bottom: 10px;">
                                To:&nbsp;<span style="font-weight: bold;">{{ .To_identity.Name }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="padding-bottom: 20px;">
                                {{ if .IsHost }}
                                You're&nbsp;gathering&nbsp;this&nbsp;<span style="color: #3a6ea5; text-decoration: none;">·X·</span>.
                                {{ else }}
                                Invitation&nbsp;from&nbsp;<span>{{ $a := index .By_identities 0 }}{{ $a.Name }}</span>.
                                {{ end }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td valign="top" width="160">
                                            <a href="{{ .Cross.LinkTo .Config.Site_url .Token}}" style="text-decoration: none;">
                                                {{ if $time }}
                                                <p style="font-size: 20px; line-height: 26px; margin: 0; color: #333333;">
                                                    {{ $time }}
                                                </p>
                                                {{ else }}
                                                <p style="font-size: 20px; line-height: 26px; margin: 0; color: #333333;">
                                                    Time
                                                </p>
                                                <p style="color: #191919; margin: 0;">
                                                    To be decided
                                                </p>
                                                {{ end }}
                                            </a>
                                        </td>
                                        <td valign="top">
                                            <a href="{{ .Cross.LinkTo .Config.Site_url .Token}}" style="text-decoration: none;">
                                                {{ if .Cross.Place.Title }}
                                                <p style="font-size: 20px; line-height: 26px; margin: 0; color: #333333;">
                                                    {{ .Cross.Place.Title }}
                                                </p>
                                                <p style="color: #191919; margin: 0;">
                                                    {{ replace .Cross.Place.Description "\n" "<br />"}}
                                                </p>
                                                {{ else }}
                                                <p style="font-size: 20px; line-height: 26px; margin: 0; color: #333333;">
                                                    Place
                                                </p>
                                                <p style="color: #191919; margin: 0;">
                                                    To be decided
                                                </p> 
                                                {{ end }}
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        {{ if .Confirmed }}
                        <tr>
                            <td style="line-height:19px; padding-top: 30px;">
                                <span style="display: block; float: left; color: #333333;">
                                You've&nbsp;been&nbsp;
                                <span style="font-weight: bold; color: #3a6ea5;">CONFIRMED</span>
                                &nbsp;to&nbsp;attend.</span>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="padding-bottom: 30px;">
                                <a style="float: left; display: block; text-decoration: none; border: 1px solid #bebebe; background-color: #fbfbfb; color: #000000; padding: 5px 25px 5px 25px;" alt="Check it out" href="{{ .Cross.LinkTo .Config.Site_url .Token}}">Check&nbsp;it&nbsp;out...</a>
                            </td>
                        </tr>
                        {{ else }}
                        <tr>
                            <td valign="top" style="padding-top: 30px; padding-bottom: 30px;">
                                <a style="float: left; display: block; text-decoration: none; border: 1px solid #bebebe; background-color: #3a6ea5; color: #000000; padding: 5px 30px 5px 30px; margin-left: 25px;" alt="Accept" href="{{ .Cross.LinkTo .Config.Site_url .Token }}">I'm&nbsp;in</a>
                                <a style="float: left; display: block; text-decoration: none; border: 1px solid #bebebe; background-color: #fbfbfb; color: #000000; padding: 5px 25px 5px 25px; margin-left: 15px;" alt="Check it out" href="{{ .Cross.LinkTo .Config.Site_url .Token }}">Check&nbsp;it&nbsp;out...</a>
                            </td>
                        </tr>
                        {{ end }}
                        <tr>
                            <td valign="top">
                                {{ $s := .Cross.Description }}{{ replace $s "\n" "<br />" }}
                                {{ if .LongDescription }}
                                <a style="font-style: italic; color: #666666; text-decoration: none;" href="{{ .Cross.Link .Config.Site_url }}">...more</a>
                                {{ end }}
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="30"></td>
                <td valign="top">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="80" valign="bottom" align="right">
                                <!--<span style="color: #3a6ea5;">3</span> confirmed-->
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table border="0" style="color: #333333;" cellpadding="0" cellspacing="0">
                                    {{ $api := .Config.Site_api }}
                                    {{ range .Cross.Exfee.Invitations }}
                                    <tr>
                                        <td width="25" height="25" align="left" valign="top">
                                            <img width="20" height="20" src="{{ $api }}/v2/avatar/render?url={{ .Identity.Avatar_filename | base64 | urlquery }}&width=25&height=25{{ if not .IsAccepted }}&alpha=0.25{{ end }}">
                                        </td>
                                        <td>
                                          <span>{{ .Identity.Name }}</span>
                                          {{ if .Mates }}&nbsp;<span class="exfe_mail_mates">+&nbsp;{{ .Mates }}</span>{{ end }}
                                          {{ if .Host }}&nbsp;<span class="exfe_mail_label">host</span>{{ end }}
                                          {{ if not .Identity.Connected_user_id }}&nbsp;<span class="exfe_mail_identity">{{ .Identity.External_id }}</span>{{ end }}
                                        </td>
                                    </tr>
                                    {{ end }}
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="font-size: 11px; line-height: 15px; color: #7F7F7F; padding-top: 40px;">
                    Reply&nbsp;this&nbsp;email&nbsp;directly&nbsp;as&nbsp;conversation,&nbsp;or&nbsp;Try&nbsp;
                    <a style="color: #3a6ea5; text-decoration: none;" href="{{ .Config.App_url }}">EXFE</a>&nbsp;app.
                    <br>
                    This&nbsp;
                    <a style="color: #3a6ea5; text-decoration: none;" href="{{ .Cross.Link .Config.Site_url }}">·X·</a>
                    &nbsp;invitation&nbsp;is&nbsp;sent&nbsp;by&nbsp;
                    <span class="exfe_mail_identity_name">{{ .Cross.By_identity.Name }}</span>
                    &nbsp;from&nbsp;
                    <a style="color: #3a6ea5; text-decoration: none;" href="{{ .Config.Site_url }}">EXFE</a>.
                </td>
            </tr>
        </table>
    </body>
</html>
