@{{ .ToUserName }} {{ if .IsHost }}You're successfully gathering this X{{ else }}Invitation{{ end }}: {{ .Title }}.{{ if .Time }} {{ .Time }}{{ end }}{{ if .Place1 }} at {{ .Place1 }}{{ if .Place2 }}, {{ .Place2 }}{{ end }}{{ end }}
