EXFE reset forgotten password
//////////////////////////////////

Hi, {{ .To_identity.Name }}.

You just requested to reset your forgotten EXFE password.

Please click here to set new password: {{ .Config.Site_url }}/#token={{ .Token }}
This single-use link will be expired in 1 day.

This email is sent to {{ .To_identity.External_id }} per forgot password request on EXFE( {{ .Config.Site_url }} ).
//////////////////////////////////

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <table border="0" cellpadding="0" cellspacing="0" style="font-family: Verdana; font-size: 14px; line-height: 20px; color: #333333; font-weight: normal; width: 640px; padding: 20px; background-color: #fbfbfb;">
            <tr>
                <td>
                    Hi,&nbsp;<span style="color: #191919;">{{ .To_identity.Name }}</span>
                </td>
            </tr>
            <tr><td height="20"></td></tr>
            <tr>
                <td>
                    You&nbsp;just&nbsp;requested&nbsp;to&nbsp;reset&nbsp;your&nbsp;forgotten&nbsp;
                    <a style="color: #3a6ea5; text-decoration: none;" href="{{ .Config.Site_url }}">EXFE</a>&nbsp;password.
                </td>
            </tr>
            <tr><td height="20"></td></tr>
            <tr>
                <td>
                    Please&nbsp;click&nbsp;here&nbsp;to&nbsp;set&nbsp;new&nbsp;password:&nbsp;
                    <a style="color:#333333; text-decoration: underline;" href="{{ .Config.Site_url }}/#token={{ .Token }}">{{ .Config.Site_url }}/#token={{ .Token | .Shorten}}</a><br />
                    This&nbsp;single-use&nbsp;link&nbsp;will&nbsp;be&nbsp;expired&nbsp;in&nbsp;1&nbsp;day.
                </td>
            </tr>
            <tr><td height="40"></td></tr>
            <tr>
                <td style="font-size: 11px; line-height: 13px; color: #666666;">
                    This&nbsp;email&nbsp;is&nbsp;sent&nbsp;to&nbsp;
                    <a style="color: #666666; text-decoration: none; font-style: italic;" href="mailto:{{ .To_identity.External_id }}">{{ .To_identity.External_id }}</a>
                    &nbsp;per&nbsp;forgot&nbsp;password&nbsp;request&nbsp;on&nbsp;
                    <a style="color: #3a6ea5; text-decoration: none;" href="{{ .Config.Site_url }}">EXFE</a>.
                </td>
            </tr>
        </table>
    </body>
</html>
