Welcome to EXFE
//////////////////////////////////

Hi, {{ .To_identity.Name }}.

Welcome to EXFE! An utility for hanging out with friends.
{{ if .NeedVerify }}
Please click here to verify your identity: {{ .Config.Site_url }}/#token={{ .Token }}
{{ end }}
·X·(cross) is a gathering of people, on purpose or not. We save you from calling up every one RSVP, losing in endless emails messages off the point.

EXFE your friends. Gather a ·X·

“Rome wasn't built in a day.”
EXFE [ˈɛksfi] is still in pilot stage. We’re building up blocks, consequently some bugs or unfinished pages may happen. Any feedback, please email to feedback@exfe.com. Much appreciated.

This email is sent to {{ .To_identity.External_id }} per identity registration request on EXFE( {{ .Config.Site_url }} ).
//////////////////////////////////

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <table border="0" cellpadding="0" cellspacing="0" style="font-family: Verdana; font-size: 14px; line-height: 20px; color: #191919; font-weight: normal; width: 640px; padding: 10px 20px 30px 20px; background-color: #fbfbfb;">
            <tr>
                <td valign="top">
                    <p style="font-size: 18px; line-height: 24px;">
                    Hi,&nbsp;{{ .To_identity.Name }}
                    </p>
                    <p>
                        <span style="font-size: 18px; line-height: 24px;">Welcome&nbsp;to&nbsp;<a style="color: #3a6ea5; text-decoration: none;" href="{{ .Config.Site_url }}">EXFE</a>!</span>
                        <br>
                        <span>An&nbsp;utility&nbsp;for&nbsp;hanging&nbsp;out&nbsp;with&nbsp;friends.</span>
                    </p>
                    {{ if .NeedVerify }}
                    <p>
                        <span style="font-size:14px; color:#333; ">
                            Please&nbsp;click&nbsp;here&nbsp;to&nbsp;verify&nbsp;your&nbsp;identity:&nbsp;
                        </span>
                        <a style="color:#191919; text-decoration: underline;" href="{{ .Config.Site_url }}/#token={{ .Token }}">{{ .Config.Site_url }}/#token={{ .Token | .Shorten }}</a>
                    </p>
                    {{ end }}
                    <p>
                        <span style="color: #3a6ea5;">·X·</span>&nbsp;(cross)&nbsp;is&nbsp;a&nbsp;gathering&nbsp;of&nbsp;people,&nbsp;on&nbsp;purpose&nbsp;or&nbsp;not.&nbsp;We&nbsp;save&nbsp;you&nbsp;from&nbsp;calling&nbsp;up&nbsp;every&nbsp;one&nbsp;RSVP,&nbsp;losing&nbsp;in&nbsp;endless&nbsp;emails&nbsp;messages&nbsp;off&nbsp;the&nbsp;point.
                    </p>
                    <p>
                        <span style="color: #3a6ea5;">EXFE</span>&nbsp;your&nbsp;friends.&nbsp;Gather&nbsp;a&nbsp;<span style="color: #3a6ea5;">·X·</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td height="20"></td>
            </tr>
            <tr>
                <td>
                    <img style="float: left; margin-left: 20px; margin-right: 40px; margin-bottom: 10px;" src="{{ .Config.Site_img }}/email/rome.png">
                    <div style="color:#333333;">
                        <p style="font-size: 18px; line-height: 24px; margin: 0 0 20px 0">
                            “Rome&nbsp;wasn't&nbsp;built&nbsp;in&nbsp;a&nbsp;day.”
                        </p>
                        <p style="margin: 0;">
                        <a style="color: #3a6ea5; text-decoration: none;" href="{{ .Config.Site_url }}">EXFE</a>&nbsp;
                            [ˈɛksfi]&nbsp;is&nbsp;still&nbsp;in&nbsp;
                            <span style ="font-weight: bold;">pilot</span>
                            &nbsp;stage.&nbsp;We’re&nbsp;building&nbsp;up&nbsp;blocks&nbsp;of&nbsp;it,&nbsp;consequently&nbsp;some&nbsp;bugs&nbsp;or&nbsp;unfinished&nbsp;pages&nbsp;may&nbsp;happen.&nbsp;Any&nbsp;feedback,&nbsp;please&nbsp;email&nbsp;
                            <a style="font-style: italic; color: #333333; text-decoration: underline;" href="mailto:feedback@exfe.com">feedback@exfe.com</a>.&nbsp;Much&nbsp;appreciated.
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td height="20"></td>
            </tr>
            <tr>
                <td style="color: #666666; font-size: 11px;">
                    This&nbsp;email&nbsp;is&nbsp;sent&nbsp;to&nbsp;
                    <a style="font-style: italic; color: #666666; text-decoration: none;" href="mailto:{{ .To_identity.External_id }}">{{ .To_identity.External_id }}</a>
                    &nbsp;per&nbsp;identity&nbsp;registration&nbsp;request&nbsp;on&nbsp;
                    <a style="color: #3a6ea5; text-decoration: none;" href="{{ .Config.Site_url }}">EXFE</a>.
                </td>
            </tr>
        </table>
    </body>
</html>
