EXFE reset forgotten password

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <table border="0" cellpadding="0" cellspacing="0" style="font-family: Verdana; font-size: 14px; line-height: 20px; color: #333333; font-weight: normal; width: 640px; padding: 20px; background-color: #fbfbfb;">
            <tr>
                <td>
                  Hi, <span style="color: #191919;">{{ .To_identity.Name }}</span>
                </td>
            </tr>
            <tr><td height="20"></td></tr>
            <tr>
                <td>
                    You just requested forgotten password process on
                    <a style="color: #0591ac; text-decoration: none;" href="{{ .Config.Site_url }}">EXFE</a>.
                </td>
            </tr>
            <tr><td height="20"></td></tr>
            <tr>
                <td>
                    <a style="color:#333333; text-decoration: none;" href="{{ .Link }}">
                        Please click here to set new password: <span style="text-decoration: underline;">{{ .PartLink }}</span>
                    </a>
                </td>
            </tr>
            <tr><td height="20"></td></tr>
            <tr>
                <td>
                    If you didn’t request, please <a style="color: #333333;" href="{{ .SpanLink }}">click here</a> or just ignore this mail. Sorry for disturbing.
                </td>
            </tr>
            <tr><td height="40"></td></tr>
            <tr>
                <td style="font-size: 11px; line-height: 13px; color: #666666;">
                    This email is sent to
                    <a style="color: #666666; text-decoration: none; font-style: italic;" href="mailto:{{ .To_identity.External_username }}">{{ .To_identity.External_id }}</a>
                    per forgot password request on
                    <a style="color: #0591ac; text-decoration: none;" href="{{ .Config.Site_url }}">EXFE</a>.
                </td>
            </tr>
        </table>
    </body>
</html>
