EXFE identity verification
//////////////////////////////////

Hi, {{ .To_identity.Name }}.

Your email {{ .To_identity.External_id }} has been requested for verification{{ if .User_name }} by {{ .User_name }}{{ end }} on EXFE.

Please click here to verify: {{ .Config.Site_url }}/#token={{ .Token }}

EXFE is a utility for hanging out with friends. We save you from calling up every one RSVP, losing in endless emails and messages off the point.

This email is sent to {{ .To_identity.External_id }} per identity verification request on EXFE( {{ .Config.Site_url }} ).
//////////////////////////////////

<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <table border="0" cellpadding="0" cellspacing="0" style="font-family: Verdana; font-size: 14px; line-height: 20px; color: #333333; font-weight: normal; width: 640px; padding: 20px; background-color: #fbfbfb;">
            <tr>
                <td>
                    Hi, <span style="color: #191919;">{{ .To_identity.Name }}.</span>
                </td>
            </tr>
            <tr><td height="20"></td></tr>
            <tr>
                <td>
                    Your email <a href="{{ .To_identity.External_id }}" style="text-decoration: none; color: #333333; font-style: italic;">mailto:{{ .To_identity.External_id }}</a> has been requested for verification{{ if .User_name }} by <span style="color: #191919;">{{ .User_name }}</span>{{ end }} on <a style="color: #3a6ea5; text-decoration: none;" href="{{ .Config.Site_url }}">EXFE</a>.
                </td>
            </tr>
            <tr><td height="20"></td></tr>
            <tr>
                <td>
                    <a style="color:#333333; text-decoration: none;" href="{{ .Config.Site_url }}/#token={{ .Token }}">Please click here to verify: <span style="text-decoration: underline;">{{ .Config.Site_url }}/#token={{ .Token | .Shorten }}</span></a>
                </td>
            </tr>
            <tr><td height="20"></td></tr>
            <tr>
                <td>
                    <a style="color: #3a6ea5; text-decoration: none;" href="{{ .Config.Site_url }}">EXFE</a> is a utility for hanging out with friends. We save you from calling up every one RSVP, losing in endless emails and messages off the point.
                </td>
            </tr>
            <tr><td height="40"></td></tr>
            <tr>
                <td style="font-size: 11px; line-height: 13px; color: #666666;">
                    This email is sent to <a style="color: #666666; text-decoration: none; font-style: italic;" href="mailto:{{ .To_identity.External_id }}">{{ .To_identity.External_id }}</a> per identity verification request on <a style="color: #3a6ea5; text-decoration: none;" href="{{ .Config.Site_url }}">EXFE</a>.
                </td>
            </tr>
        </table>
    </body>
</html>
