<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif; max-width:640px; background-color:white; margin:0; padding:0; color:#333333; font-size:14px; line-height:20px; font-weight:300;">
	<table cellpadding="0" cellspacing="0" style="width:100%; border-spacing:0; border-collapse:collapse;">
		<tbody>
			<tr><td colspan="3">
				<table cellpadding="0" cellspacing="0" style="display:inline-block; width:100%; border-spacing:0; vertical-align:top; background:url(invitation_bg.jpg); background-color:#545454;">
					<tbody>
						<tr>
							<td style="width:50px; height:100%; vertical-align:top; text-align:right;"></td>
							<td style="width:2px; height:100%; vertical-align:top;"></td>
							<td style="padding:3px 10px 5px 10px; max-width:498px;">
								<table cellpadding="0" cellspacing="0" style="width:100%; border-spacing:0; border-collapse:collapse;">
									<tbody>
										<tr><td style="color:white; padding-bottom:12px; max-height:20px; overflow:hidden; display:inline-block; text-overflow:ellipsis; line-height:25px; text-align:left;"><span style="font-weight:500;">Dave</span> gathers you for</tr>
										<tr><td style="height:12px;"></td></tr>
										<tr><td style="max-height:48px; overflow:hidden; display:inline-block; text-overflow:ellipsis; color:white; font-size:22px; line-height:24px; font-weight:500; text-align:left;">Team dinner with Bay Area friends</td></tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</td></tr>
			<tr>
				<td style="width:50px; height:100%; vertical-align:top; text-align:right;"></td>
				<td style="width:2px; height:100%; background-color:#E6E6E6; vertical-align:top;"></td>
				<td style="padding:5px 10px 20px 10px;">
					<table cellpadding="0" cellspacing="0" style="width:100%; border-spacing:0; border-collapse:collapse;">
						<tbody>
							<tr><td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, set eiusmod tempor incidunt et labore et dolore magna aliquam. Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt ut labore et dolore magna…</td></tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td style="width:40px; height:100%; padding:5px 10px 0 0; vertical-align:top; text-align:right;"><img style="outline:none; text-decoration:none; vertical-align:top;" src="./time_30blue@2x.png" width="30px" height="30px" /></td>
				<td style="width:2px; height:100%; background-color:#E6E6E6; vertical-align:top;"></td>
				<td style="padding:5px 10px 20px 10px;">
					<table cellpadding="0" cellspacing="0" style="width:100%; border-spacing:0; border-collapse:collapse;">
						<tbody>
							<tr><td style="height:24px; color:#3A6EA5; font-size:18px; line-height:24px; font-weight:500;">April 8</td></tr>
							<tr><td>6:30PM Friday (-8:00 PST)</td></tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td style="width:40px; height:100%; padding:5px 10px 0 0; vertical-align:top; text-align:right;"><img style="outline:none; text-decoration:none; vertical-align:top;" src="./place_30blue@2x.png" width="30px" height="30px" /></td>
				<td style="width:2px; height:100%; background-color:#E6E6E6; vertical-align:top;"></td>
				<td style="padding:5px 10px 20px 10px;">
					<table cellpadding="0" cellspacing="0" style="width:100%; border-spacing:0; border-collapse:collapse;">
						<tbody>
							<tr><td style="height:24px; color:#3A6EA5; font-size:18px; line-height:24px; font-weight:500;">Crab House @ Pier 39</td></tr>
							<tr><td>Pier 39, 203C, San Francisco<br />http://crabhouse39.com</td></tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td style="width:40px; height:100%; padding:25px 10px 0 0; vertical-align:top; text-align:right;"><img style="outline:none; text-decoration:none; vertical-align:top;" src="./rsvp_pending_26g5@2x.png" width="30px" height="30px" /></td>
				<td style="width:2px; height:100%; background-color:#E6E6E6; vertical-align:top;"></td>
				<td style="padding:5px 10px 20px 10px;">
					<table cellpadding="0" cellspacing="0" style="width:100%; border-spacing:0; border-collapse:collapse;">
						<tbody>
							<tr><td>Please response:</td></tr>
							<tr><td height="30px" style="line-height:30px; color:#7F7F7F;"><a href="accept" alt="Accept" style="color:#FFFFFF; text-decoration:none; font-weight:500; background-color:#3784D5; border-radius:4px; padding:5px 20px; vertical-align:top; margin-right:8px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I'm in&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a><a href="checkout" alt="Check it out" style="color:#3A6EA5; text-decoration:none; font-weight:500; background-color:#E6E6E6; border-radius:4px; padding:5px 20px; vertical-align:top; margin-right:8px;">Unavailable</a></tr>
							<tr><td><a href="site" style="color:#7F7F7F;">Check and change</a><span style="color:#7F7F7F;"> details on web.</span></td></tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td style="width:40px; height:100%; padding:5px 10px 0 0; vertical-align:top; text-align:right;"><img style="outline:none; text-decoration:none; vertical-align:top;" src="./exfee_30blue@2x.png" width="30px" height="30px" /></td>
				<td style="width:2px; height:100%; background-color:#E6E6E6; vertical-align:top;"></td>
				<td style="padding:5px 10px 5px 10px;">
					<table cellpadding="0" cellspacing="0" style="width:100%; border-spacing:0; border-collapse:collapse;">
						<tbody>
							<tr><td height="30px"><span style="height:24px; color:#3A6EA5; font-size:18px; line-height:24px; font-weight:500;">Exfees&nbsp;&nbsp;5</span>/8 accepted</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr style="vertical-align:top;">
				<td style="width:37px; height:100%; padding-right:13px; vertical-align:top; text-align:right;"><img style="outline:none; text-decoration:none; vertical-align:top;" src="headers/semi-trans.png" width="24px" height="19px" style="vertical-align:top;" /></td>
				<td style="width:2px; height:100%; background-color:#3784D5; vertical-align:top;"></td>
				<td style="padding:0 10px;">
					<table cellpadding="0" cellspacing="0" style="table-layout:fixed; width:100%; border-spacing:0; border-collapse:collapse;"><tbody>
						<tr><td style="overflow:hidden; white-space:nowrap; text-overflow:ellipsis;">
							SteveE<span style="color:#7F7F7F; margin-left:15px; font-style:italic;">+15554500303</span>
						</td></tr>
					</tbody></table>
				</td>
			</tr>
			<tr style="vertical-align:top;">
				<td style="width:37px; height:100%; padding-right:13px; vertical-align:top; text-align:right;"><img style="outline:none; text-decoration:none; vertical-align:top;" src="headers/girl.jpg" width="24px" height="19px" style="vertical-align:top;" /></td>
				<td style="width:2px; height:100%; background-color:#3784D5; vertical-align:top;"></td>
				<td style="padding:0 10px;">
					<table cellpadding="0" cellspacing="0" style="table-layout:fixed; width:100%; border-spacing:0; border-collapse:collapse;"><tbody>
						<tr><td style="overflow:hidden; white-space:nowrap; text-overflow:ellipsis;">
							Joan<span style="color:#7F7F7F; margin-left:15px; font-style:italic;">joan@facebook</span>
						</td></tr>
					</tbody></table>
				</td>
			</tr>
			<tr style="vertical-align:top;">
				<td style="width:37px; height:100%; padding-right:13px; vertical-align:top; text-align:right;"><img style="outline:none; text-decoration:none; vertical-align:top;" src="headers/backlight.jpg" width="24px" height="19px" style="vertical-align:top;" /></td>
				<td style="width:2px; height:100%; background-color:#E6E6E6; vertical-align:top;"></td>
				<td style="padding:0 10px;">
					<table cellpadding="0" cellspacing="0" style="table-layout:fixed; width:100%; border-spacing:0; border-collapse:collapse;"><tbody>
						<tr><td style="overflow:hidden; white-space:nowrap; text-overflow:ellipsis;">
							dm.<span style="color:#7F7F7F; margin-left:15px; font-style:italic;">@hengdm</span>
						</td></tr>
					</tbody></table>
				</td>
			</tr>
			<tr style="vertical-align:top;">
				<td style="width:37px; height:100%; padding-right:13px; vertical-align:top; text-align:right;"><img style="outline:none; text-decoration:none; vertical-align:top;" src="headers/landscape.jpeg" width="24px" height="19px" style="vertical-align:top;" /></td>
				<td style="width:2px; height:100%; background-color:#7F7F7F; vertical-align:top;"></td>
				<td style="padding:0 10px;">
					<table cellpadding="0" cellspacing="0" style="table-layout:fixed; width:100%; border-spacing:0; border-collapse:collapse;"><tbody>
						<tr><td style="overflow:hidden; white-space:nowrap; text-overflow:ellipsis;">
							Joe Some Very looooooooooooong name<span style="color:#7F7F7F; margin-left:15px; font-style:italic;">joexfer@0d0f.com</span>
						</td></tr>
					</tbody></table>
				</td>
			</tr>
			<tr style="vertical-align:top">
				<td></td>
				<td style="width:2px; height:100%; background-color:#E6E6E6; vertical-align:top;"></td>
				<td height="30px">&nbsp;</td>
			</tr>
			<tr color="#7F7F7F" bgcolor="#EEEEEE">
				<td style="width:40px; height:100%; padding-right:6px; vertical-align:top; text-align:right;"></td>
				<td></td>
				<td style="color:#7F7F7F; font-size:11px; line-height:13px; padding:8px 0 8px 10px;">Reply this email as group conversation, ‘cc’ people to invite. Get <a href="/app" style="color:#3A6EA5; text-decoration:none;">EXFE</a> app <span style="font-style: italic">free</span> to engage easier.<br />This email is generated by EXFE. <a href="/unsub" style="color:#7F7F7F;">Unsubscribe</a> further updates or <a href="/preference" style="color:#7F7F7F;">change notification preference.</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>